<div class="character">
  <div class="photo">
    <img src="/images/harry.jpg" alt="Harry Potter">
  </div>
  <div class="description">
    <p>Harry James Potter is the title character and protagonist of J. K. Rowling's Harry Potter series. The majority of the books' plot covers seven years in the life of the orphan Potter, who, on his eleventh birthday, learns he is a wizard. Thus, he attends
      Hogwarts School of Witchcraft and Wizardry to practise magic under the guidance of the kindly headmaster Albus Dumbledore and other school professors. Harry also discovers that he is already famous throughout the novel's magical community, and that
      his fate is tied with that of Lord Voldemort, the internationally feared Dark Wizard and murderer of his parents, Lily and James.</p>
    <a href="https://en.wikipedia.org/wiki/Harry_Potter_(character)">Wikipedia</a>
  </div>
</div>
